In [58]:
import pandas as pd
import numpy as np

Dictionary dataFrame

In [59]:
nhap_danhsach ={
    "STT": [1, 2, 3, 4],
    "Họ và tên":  ['Thiên Văn Chức', 'Lỗ Chí', 'Trần Nhất Thời','Tôn Khống Tước'],
    'Toán': [8, 6, 2, 8],
    'Lý': [9, 5, 10, 6],
    'Hóa': [10, 2, 8, 7],
}

In [60]:
nhap_danhsach

{'STT': [1, 2, 3, 4],
 'Họ và tên': ['Thiên Văn Chức',
  'Lỗ Chí',
  'Trần Nhất Thời',
  'Tôn Khống Tước'],
 'Toán': [8, 6, 2, 8],
 'Lý': [9, 5, 10, 6],
 'Hóa': [10, 2, 8, 7]}

In [61]:
# Tạo ra danh sách thi (danhsach)
danhsach = pd.DataFrame(nhap_danhsach)
danhsach

   STT        Họ và tên  Toán  Lý  Hóa
0    1    Thiên Văn Chức      8    9    10
1    2           Lỗ Chí      6    5     2
2    3  Trần Nhất Thời      2   10     8
3    4   Tôn Khống Tước      8    6     7

In [62]:
# Thêm cột "Tổng" và tính tổng số điểm
danhsach['Tổng']=danhsach['Toán'] + danhsach['Lý'] + danhsach['Hóa']
danhsach

   STT        Họ và tên  Toán  Lý  Hóa  Tổng
0    1    Thiên Văn Chức      8    9    10     27
1    2           Lỗ Chí      6    5     2     13
2    3  Trần Nhất Thời      2   10     8     20
3    4   Tôn Khống Tước      8    6     7     21

In [63]:
# Tạo bảng các môn thi
mon_thi = pd.DataFrame(danhsach, columns= ['Toán', 'Lý', 'Hóa'])
mon_thi

   Toán  Lý  Hóa
0      8    9    10
1      6    5     2
2      2   10     8
3      8    6     7

In [64]:
# Số môn thi (bằng tổng số cột trong danh sách môn thi)
So_mon = len(mon_thi.columns)
So_mon

3

In [65]:
# Thêm cột "Trung Bình" và tính số điểm trung bình
danhsach['Trung Bình']= danhsach['Tổng'] / So_mon
danhsach

   STT        Họ và tên  Toán  Lý  Hóa  Tổng  Trung Bình
0    1    Thiên Văn Chức      8    9    10     27     9.000000
1    2           Lỗ Chí      6    5     2     13     4.333333
2    3  Trần Nhất Thời      2   10     8     20     6.666667
3    4   Tôn Khống Tước      8    6     7     21     7.000000

In [66]:
# Cách xem dữ liệu cột reung bình
danhsach['Trung Bình']

0    9.000000
1    4.333333
2    6.666667
3    7.000000
Name: Trung Bình, dtype: float64

In [67]:
#Thêm cột kết quả: Xét người có điểm TB > 5 thì đậu
danhsach['Kết Quả'] =np.where(danhsach['Trung Bình']>5,"Đậu","") 
danhsach

   STT        Họ và tên  Toán  Lý  Hóa  Tổng  Trung Bình Kết Quả
0    1    Thiên Văn Chức      8    9    10     27     9.000000      Đậu
1    2           Lỗ Chí      6    5     2     13     4.333333
2    3  Trần Nhất Thời      2   10     8     20     6.666667      Đậu
3    4   Tôn Khống Tước      8    6     7     21     7.000000      Đậu

In [68]:
# Xuất danh sách theo chiều khác
for row in danhsach.iterrows():
    print(row)

(0, STT                          1
Họ và tên    Thiên Văn Chức
Toán                        8
Lý                          9
Hóa                        10
Tổng                       27
Trung Bình                9.0
Kết Quả                 Đậu
Name: 0, dtype: object)
(1, STT                   2
Họ và tên    Lỗ Chí
Toán                 6
Lý                   5
Hóa                  2
Tổng                13
Trung Bình    4.333333
Kết Quả
Name: 1, dtype: object)
(2, STT                            3
Họ và tên    Trần Nhất Thời
Toán                          2
Lý                           10
Hóa                           8
Tổng                         20
Trung Bình             6.666667
Kết Quả                   Đậu
Name: 2, dtype: object)
(3, STT                           4
Họ và tên    Tôn Khống Tước
Toán                         8
Lý                           6
Hóa                          7
Tổng                        21
Trung Bình                 7.0
Kết Quả                  Đậu
Name: 3, dtype: object)

In [69]:
# Sử dụng nhiều điều kiện trong pandas
# danhsach['Xếp Loại']= danhsach['Trung Bình']<5
danhsach['Xếp Loại'] = None

for val in danhsach.values:
    print(val)

[1 'Thiên Văn Chức' 8 9 10 27 9.0 'Đậu' None]
[2 'Lỗ Chí' 6 5 2 13 4.333333333333333 '' None]
[3 'Trần Nhất Thời' 2 10 8 20 6.666666666666667 'Đậu' None]
[4 'Tôn Khống Tước' 8 6 7 21 7.0 'Đậu' None]

In [70]:
for i_DS in range(len(danhsach['Trung Bình'])):
    if danhsach['Trung Bình'][i_DS] <5:
        danhsach['Xếp Loại'][i_DS]= "Yếu";
    elif danhsach['Trung Bình'][i_DS] <7:
        danhsach['Xếp Loại'][i_DS]= "Trung Bình";
    elif danhsach['Trung Bình'][i_DS] <8:
        danhsach['Xếp Loại'][i_DS]= "Khá";
    else: danhsach['Xếp Loại'][i_DS]= "Giỏi";
danhsach

<ipython-input-70-25450c66d17b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  else: danhsach['Xếp Loại'][i_DS]= "Giỏi";
<ipython-input-70-25450c66d17b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  danhsach['Xếp Loại'][i_DS]= "Yếu";
<ipython-input-70-25450c66d17b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  danhsach['Xếp Loại'][i_DS]= "Trung Bình";
<ipython-input-70-25450c66d17b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  danhsach['Xếp Loại'][i_DS]= "Khá";

,STT,Họ và tên,Toán,Lý,Hóa,Tổng,Trung Bình,Kết Quả,Xếp Loại
0,1,Thiên Văn Chức,8,9,10,27,9.000000,Đậu,Giỏi
1,2,Lỗ Chí,6,5,2,13,4.333333,,Yếu
2,3,Trần Nhất Thời,2,10,8,20,6.666667,Đậu,Trung Bình
3,4,Tôn Khống Tước,8,6,7,21,7.000000,Đậu,Khá

In [71]:
# Lưu vào file exxel
danhsach.to_excel('./saveExcel/1.xeploai.xlsx', sheet_name= "DS_xeploai", index=False)# header=False

* Kỹ thuật tạo 1 dataFrame mới như sau:
    Cách 1:

In [72]:
ds_val = danhsach.values[:,1:5]
ds_val

array([['Thiên Văn Chức', 8, 9, 10],
       ['Lỗ Chí', 6, 5, 2],
       ['Trần Nhất Thời', 2, 10, 8],
       ['Tôn Khống Tước', 8, 6, 7]], dtype=object)

In [73]:
ds_col = danhsach.columns[1:5]
ds_col

Index(['Họ và tên', 'Toán', 'Lý', 'Hóa'], dtype='object')

In [74]:
ds_new1 = pd.DataFrame(data=ds_val, columns=ds_col)
ds_new1

         Họ và tên Toán Lý Hóa
0    Thiên Văn Chức     8   9   10
1           Lỗ Chí     6   5    2
2  Trần Nhất Thời     2  10    8
3   Tôn Khống Tước     8   6    7

    - Cách 2: Tạo dataFrame mới từ danhsach, phần cột chọn columns theo index cột

In [75]:
ds_new2 = pd.DataFrame(data=danhsach, columns= danhsach.columns[1:5])
ds_new2

         Họ và tên  Toán  Lý  Hóa
0    Thiên Văn Chức      8    9    10
1           Lỗ Chí      6    5     2
2  Trần Nhất Thời      2   10     8
3   Tôn Khống Tước      8    6     7

Cách 3: Dùng hàm iloc để lọc số cột yêu cầu theo chỉ định cột bằng list chứa index

In [76]:
ds_new3 = danhsach.iloc[:,[1,5,6,7,8]]
ds_new3

         Họ và tên  Tổng  Trung Bình Kết Quả   Xếp Loại
0    Thiên Văn Chức     27     9.000000      Đậu        Giỏi
1           Lỗ Chí     13     4.333333                   Yếu
2  Trần Nhất Thời     20     6.666667      Đậu  Trung Bình
3   Tôn Khống Tước     21     7.000000      Đậu         Khá

Cách 4: Dùng hàm loc để lọc tên cột yêu cầu

In [84]:
ds_new4 = danhsach.loc[1:2,['Họ và tên', 'Trung Bình','Kết Quả', 'Xếp Loại']]
ds_new4

         Họ và tên  Trung Bình Kết Quả   Xếp Loại
1           Lỗ Chí     4.333333                   Yếu
2  Trần Nhất Thời     6.666667      Đậu  Trung Bình